/* Main header */
header {
   .header-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 45px 0;
      padding-bottom: 89px;
   }
   .nav__links {
      li {
         display: inline-block;
         padding: 0 15px;
         a {
            font-size: 16px;
            line-height: 19px;
            color: #4F5665;
           
            &:hover {
               color: #F53855;
            }
         }
      }
   }
   .cta, .menu {
      button {
         margin-left: 30px;
         border: 1px solid #F53855;
         border-radius: 50px;
         padding: 13px 45px;
         background-color: #fff;
         font-weight: 500;
         font-size: 16px;
         line-height: 19px;
         color: #F53855;
         transition: all .25s ease-in-out;
         &:hover {
            background-color: #f53865;
            color: #fff;
         }
      }
   }
   .nav__left {
      .button {
         font-weight: 500;
         font-size: 16px;
         line-height: 19px;
         color: #0B132A;
         background-color: #fff;
         &:hover {
            color: #F53855;
         }
      }
   }
}
.menu {
   display: none;
}

@media only screen and (max-width: 1290px) {
   .nav__links, .cta, .cta-left {
      display: none;
   }
   .menu {
      display: block;
   }
}



/* Mobile Nav */
.overlay {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   overflow-x: hidden;
   transition: all .5s ease 0s;

   &__content {
      background-color: #fff;

      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   button.inmenu {
      margin-top: 30px;
      border: 1px solid #F53855;
      border-radius: 50px;
      padding: 25px 53px;
      background-color: #fff;
      font-weight: 500;
      font-size: 30px;
      line-height: 19px;
      color: #F53855;
      transition: all .25s ease-in-out;
      &:hover {
         background-color: #f53865;
         color: #fff;
      }
   }
   a {
      padding: 15px;
      font-size: 36px;
      color: #4F5665;

      display: block;
   }
   .close {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
   }
}

@media screen and (max-height: 450px) {
   .overlay {
      a {
         font-size: 20px;
      }
      .close {
         font-size: 40px;
         top: 15px;
         right: 35px;
      }
   }
}